* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* head and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 200px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    border: 0px;
    padding: 18px 35px;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background: #fd6e0a;


}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.text-primary {
    color: #fd6e0a;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 900;
    font-size: 85px;
}
.header{
    background: #FFFFFF;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
.banner-sub-title{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    width: 585px;
    height: 60px;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about{
    margin: 130px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 130px 150px;
    
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;


}
.section-description{
    color: #d1bcbc;
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about.info-tile{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}